/*                                      COLORS
   --------------------------------------------------------------------------------------------
   */
:root {
    --headings: #29335B;
    --text: #9495A4;
    --link: #74A1FE;
    --green: #8DD591;
}

/*                                         TYPOGRAPHY
---------------------------------------------------------------------------------*/

body {
    color: var(--text);
    background-color: #FAFBFC;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.375;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-weight: normal;
    color: var(--headings);
    margin-bottom: 1rem;
}

.h1 {
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    grid-column-gap: 15px;
}

.h1 small {
    font-size: 24px;
}

.h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

.header-icons a:hover {
    text-decoration: none;
}


/*                                         HEADER
---------------------------------------------------------------------------------*/

.header {
    padding-top: 20px;
    padding-bottom: 60px;
    background: linear-gradient(90deg, #212840 0%, #4B5A8B 100%);
}

.profile-image {
    max-width: 133px;
}

@media (min-width: 620px) {
    .header {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .header-container {
        display: grid;
        grid-template-columns: 133px auto;
        grid-gap: 27px;
    }

    .profile-image {
        margin-top: 20px;
    }
}

.header-details {
    color: white;
    margin-bottom: 20px;
}

.header-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-column-gap: 10px;
}

.header-detail-value {
    font-weight: 300;
}

.header-detail-extended {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 40px;
    margin-bottom: 5px;
}

.header-detail-icon {
    width: 28px;
}

.header-icons {
    display: flex;
    grid-column-gap: 25px;
}

.header-icons span {
    font-size: 24px;
}

/*                                         MAIN
---------------------------------------------------------------------------------*/

.main {
    margin-top: -30px;
}

@media (min-width: 760px) {
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 33%;
        grid-column-gap: 40px;
    }
}

.section {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 40px;
    min-height: 100px;
    margin-bottom: 25px;
}

@media (max-width: 1019px) {
    .main-grid {
        grid-column-gap: 30px;
    }

    .section {
        padding: 20px 30px;
    }
}

@media (max-width: 419px) {
    .section {
        padding: 20px;
    }
}

/*                                         SKILL
---------------------------------------------------------------------------------*/
.skill {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 20px;
    height: 24px;
    margin-bottom: 15px;
}

.skill-experience {
    display: flex;
    align-items: center;
    background-color: #E5E5E5;
}

@media (max-width: 419px) {
    .skill {
        grid-template-columns: 85px 1fr;
    }
}

.skill-progress {
    width: 100%;
}

.skill-progress-bar {
    background-color: var(--green);
    width: 100%;
    height: 24px;
}

.skill-years {
    padding: 0 15px;
    flex-shrink: 0;
}
