.nav-container {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.container {
    max-width: 700px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    cursor: pointer;
}

.menu {
    display: block;
    position: fixed;
    color: black;
    background-color: whitesmoke;
    top: 49px;
    right: 0;
    width: 100%;
    transition: all 300ms;
    height: 0;
    opacity: 0;
}

.menu.show {
    height: auto;
    opacity: 1;
    transition: all 400ms;
}

.menu-item {
    padding: 5px 10px;
}