@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?32vypa');
  src:  url('fonts/icomoon.eot?32vypa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?32vypa') format('truetype'),
    url('fonts/icomoon.woff?32vypa') format('woff'),
    url('fonts/icomoon.svg?32vypa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up:before {
  content: "\e905";
}
.icon-external-link:before {
  content: "\e902";
}
.icon-chain:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e903";
}
.icon-codepen:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-gitlab:before {
  content: "\e901";
}
